.botones{
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
button{
    padding: 1em;
    border-radius: 50%;

}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
}