body{
    background-color: cadetblue;
}

#formulario{
    width: 60%;
    padding: 2em;
    margin: 0 auto;
    background-color: lightgreen;
}
.error{
    color: #FF0000;
    background-color: #FA5858;
}